<div class="ui menu">
  <div class="ui container">
    <%= link("FORENSIC", to: page_path(@conn, :index), class: "header item") %>
    <%= link("Alerts", to: "/alerts", class: "item") %>
    <%= link("Streams", to: "/streams", class: "item") %>
    <%= link("Changelog", to: "/changelog", class: "item") %>
    <%= link("Stages", to: "/stages", class: "item") %>
    <%= link("Avg values", to: "/avg", class: "item") %>
    <div class="right menu">
      <div class="item">
        <div class="ui action left icon input">
          <i class="search icon"></i>
          <input type="text" placeholder="Search">
          <button class="ui button">Submit</button>
        </div>
      </div>
      <a class="item">Link</a>
    </div>
  </div>
</div>
