<div class="ui middle center aligned grid segment">
  <div class="four wide column">
  </div>
  <div class="four wide column">
    <h1 class="ui teal image header">
      <div class="content">
        New Stream
      </div>
    </h1>

    <%= form_for @changeset, stream_path(@conn, :create), [class: "ui form streams"], fn f -> %>
      <%= if f.errors != [] do %>
        <div class="ui error message">
          <p>Wrong data! :(</p>
        </div>
      <% end %>

      <div class="ui field">
        <div class="ui input">
          <%= text_input f, :name, placeholder: "name" %>
        </div>
      </div>

      <div class="ui field">
        <div class="ui input">
          <%= textarea  f, :description, placeholder: "description" %>
        </div>
      </div>

      <div class="ui field">
        <%= multiple_select f, :stages_ids, @stages |> Enum.map(&{&1.title, &1.id}), class: "ui fluid search dropdown" %>
      </div>

      <%= submit "Create stream", class: "ui fluid teal submit button" %>
    <% end %>
  </div>
  <div class="four wide column">
  </div>
</div>
