<h2 class="ui header center aligned">Pipeline</h2>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Stage</th>
      <th>Description</th>
      <th>Parameters</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <%= for stg <- @stream.stages do %>
      <tr>
        <td><%= link(stg.title, to: stage_path(@conn, :show, stg.id)) %></td>
        <td><%= stg.description %></td>
        <td>
          <%= for p <- Forensic.Stream.related_params(@stream, stg) do %>
            <div class="ui image <%= required_label(p.mirror.required?) %> label">
              <span class="activator" data-title="Value" data-content="<%= p.value %>"><%= p.mirror.title %></span>
              <%= link to: stream_stage_param_path(@conn, :delete, @stream.id, p.id), class: "" do %>
                <i class="delete icon remove-parameter-icon"></i>
              <% end %>
              <div class="detail" data-tooltip="<%= required_tooltip(p.mirror.required?) %>">
                <%= required_title(p.mirror.required?) %>
              </div>
            </div>
          <% end %>
        </td>

        <td>
          <%= link("Edit Params", to: stream_stage_param_path(@conn, :index, @stream.id, stg.id), class: "tiny ui button") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
