<div class="ui breadcrumb">
  <%= link("Home", to: page_path(@conn, :index), class: "section") %>
  <i class="right angle icon divider"></i>
  <%= link("Streams", to: stream_path(@conn, :index), class: "section") %>
  <i class="right angle icon divider"></i>
  <%= link(@stream.name, to: stream_path(@conn, :show, @stream.id), class: "section") %>
  <i class="right angle icon divider"></i>
  <span class="active section">Edit params</span>
</div>

<div class="ui segment">
  <div class="ui container">
    <h1 class="ui header">Params configuration</h1>
    <p>Stage <%= @stage.title %></p>
    <p>Stream <%= @stream.name %></p>

    <div class="ui segment">
      <div class="ui relaxed horizontal divided list">
        <%= for p <- @stage.params do %>
          <div class="item">
            <div class="content">
              <div class="title">
                <%= p.title %>
              </div>
              <div class="description">
                <%= Forensic.StageView.normalize_param_type(p.param_type) %>
              </div>

              <%= if Forensic.Stream.configuration_pending?(@stream, p) do %>
                <p><%= p.title %> configuration</p>
                <%= form_for SP.build(p.id, @stage.id, @stream.id), stream_stage_param_path(@conn, :create, @stream.id, p.id), [class: "ui form"], fn f -> %>
                  <%= if f.errors != [] do %>
                    <div class="ui error message">
                      <p>Wrong data! :(</p>
                    </div>
                  <% end %>

                  <div class="ui field">
                    <div class="ui input">
                      <%= text_input f, :value, placeholder: "Value" %>
                    </div>
                    <%= error_tag f, :value %>
                  </div>

                  <%= submit "Create param", class: "ui fluid teal submit button" %>
                <% end %>
              <% end %>

            </div>
          </div>
        <% end %>
      </div>
    </div>

    <%= for p <- @params do %>
    <% end %>
  </div>
</div>
